In [1]:
import pandas as pd
import pickle

In [2]:
dtypes = {
    'ip': 'uint32',
    'app': 'uint16',
    'device': 'uint16',
    'os': 'uint16',
    'channel': 'uint16',
    'is_attributed': 'uint8',
    'click_id': 'uint32'
}

In [3]:
test_supplement_df = pd.read_hdf('../tamaki_script/test_supplement.h5', 'table')
with open('../data/pickle/add_rolling_and_diff_feature.pkl', mode='rb') as f:
    rolling_df = pickle.load(f)
test_supplement_df.click_time = pd.to_datetime(test_supplement_df.click_time, unit='s')

In [4]:
test_supplement_df.head()

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os,day,...,ip_app_os_count,ip_device_count,app_channel_count,ip_day_hour_channel_count,nextClick,ip_channel_unique,ip_app_unique,ip_device_os_app_unique,ip_device_unique,app_channel_unique
184903890,3,NaN,379,0.0,2017-11-09 14:23:39,1,43570,NaN,18,9,...,48,2935,1314929,2,18443.0,106,43,23,8,50
184903891,3,NaN,379,1.0,2017-11-09 14:23:51,1,80528,NaN,13,9,...,134,3478,1314929,2,5531.0,99,45,27,7,50
184903892,3,NaN,379,2.0,2017-11-09 14:25:57,1,32323,NaN,13,9,...,293,9352,1314929,10,9331.0,111,60,30,21,50
184903893,3,NaN,379,3.0,2017-11-09 14:26:03,1,42887,NaN,17,9,...,19,3837,1314929,4,71400.0,106,51,20,20,50
184903894,58,NaN,120,4.0,2017-11-09 14:26:41,1,119289,NaN,30,9,...,4,180262,55888,147,NaN,156,182,35,230,7

In [5]:
test_supplement_df = pd.merge(test_supplement_df, rolling_df[['ip', 'click_time', 'window_count']], on=[
    'ip', 'click_time'], how='left')

In [6]:
test_supplement_df = test_supplement_df.drop_duplicates()

In [7]:
test_supplement_df.head()

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os,day,...,ip_device_count,app_channel_count,ip_day_hour_channel_count,nextClick,ip_channel_unique,ip_app_unique,ip_device_os_app_unique,ip_device_unique,app_channel_unique,window_count
0,3,NaN,379,0.0,2017-11-09 14:23:39,1,43570,NaN,18,9,...,2935,1314929,2,18443.0,106,43,23,8,50,7.0
1,3,NaN,379,1.0,2017-11-09 14:23:51,1,80528,NaN,13,9,...,3478,1314929,2,5531.0,99,45,27,7,50,25.0
3,3,NaN,379,2.0,2017-11-09 14:25:57,1,32323,NaN,13,9,...,9352,1314929,10,9331.0,111,60,30,21,50,7.0
5,3,NaN,379,3.0,2017-11-09 14:26:03,1,42887,NaN,17,9,...,3837,1314929,4,71400.0,106,51,20,20,50,22.0
8,58,NaN,120,4.0,2017-11-09 14:26:41,1,119289,NaN,30,9,...,180262,55888,147,NaN,156,182,35,230,7,697.0

In [8]:
# test_supplement_df_click = pd.read_csv(
#     path + "test_supplement.csv", dtype=dtypes, usecols=['click_time', 'click_id'])
with open('../data/pickle/test_supplement.csv.pkl', mode='rb') as f:
    test_supplement_df_click = pickle.load(f)
test_supplement_df_click = test_supplement_df_click[['click_time', 'click_id']]

# test_df = pd.read_csv(path + "test.csv", dtype=dtypes,
#                       usecols=['ip', 'app', 'device', 'os', 'channel', 'click_time', 'click_id'])
with open('../data/pickle/test.csv.pkl', mode='rb') as f:
    test_df = pickle.load(f)
test_df.click_time = pd.to_datetime(test_df.click_time)

In [9]:
#test_supplement_df.rename(columns={'click_time_x': 'click_time'}, inplace=True)
#test_supplement_df.drop('click_time_y', axis=1, inplace=True)

In [10]:
test_supplement_df.head()

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os,day,...,ip_device_count,app_channel_count,ip_day_hour_channel_count,nextClick,ip_channel_unique,ip_app_unique,ip_device_os_app_unique,ip_device_unique,app_channel_unique,window_count
0,3,NaN,379,0.0,2017-11-09 14:23:39,1,43570,NaN,18,9,...,2935,1314929,2,18443.0,106,43,23,8,50,7.0
1,3,NaN,379,1.0,2017-11-09 14:23:51,1,80528,NaN,13,9,...,3478,1314929,2,5531.0,99,45,27,7,50,25.0
3,3,NaN,379,2.0,2017-11-09 14:25:57,1,32323,NaN,13,9,...,9352,1314929,10,9331.0,111,60,30,21,50,7.0
5,3,NaN,379,3.0,2017-11-09 14:26:03,1,42887,NaN,17,9,...,3837,1314929,4,71400.0,106,51,20,20,50,22.0
8,58,NaN,120,4.0,2017-11-09 14:26:41,1,119289,NaN,30,9,...,180262,55888,147,NaN,156,182,35,230,7,697.0

In [11]:
test_supplement_df.click_id = test_supplement_df.click_id.values.astype(
    'uint32')
test_supplement_df = test_supplement_df.merge(
    test_supplement_df_click, on=['click_id'], how='left')

In [12]:
test_supplement_df.head()

,app,attributed_time,channel,click_id,click_time_x,device,ip,is_attributed,os,day,...,app_channel_count,ip_day_hour_channel_count,nextClick,ip_channel_unique,ip_app_unique,ip_device_os_app_unique,ip_device_unique,app_channel_unique,window_count,click_time_y
0,3,NaN,379,0,2017-11-09 14:23:39,1,43570,NaN,18,9,...,1314929,2,18443.0,106,43,23,8,50,7.0,2017-11-09 14:23:39
1,3,NaN,379,1,2017-11-09 14:23:51,1,80528,NaN,13,9,...,1314929,2,5531.0,99,45,27,7,50,25.0,2017-11-09 14:23:51
2,3,NaN,379,2,2017-11-09 14:25:57,1,32323,NaN,13,9,...,1314929,10,9331.0,111,60,30,21,50,7.0,2017-11-09 14:25:57
3,3,NaN,379,3,2017-11-09 14:26:03,1,42887,NaN,17,9,...,1314929,4,71400.0,106,51,20,20,50,22.0,2017-11-09 14:26:03
4,58,NaN,120,4,2017-11-09 14:26:41,1,119289,NaN,30,9,...,55888,147,NaN,156,182,35,230,7,697.0,2017-11-09 14:26:41

In [13]:
test_supplement_df.rename(columns={'click_time_x': 'click_time'}, inplace=True)
test_supplement_df.drop('click_time_y', axis=1, inplace=True)

In [14]:
test_supplement_df.head()

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os,day,...,ip_device_count,app_channel_count,ip_day_hour_channel_count,nextClick,ip_channel_unique,ip_app_unique,ip_device_os_app_unique,ip_device_unique,app_channel_unique,window_count
0,3,NaN,379,0,2017-11-09 14:23:39,1,43570,NaN,18,9,...,2935,1314929,2,18443.0,106,43,23,8,50,7.0
1,3,NaN,379,1,2017-11-09 14:23:51,1,80528,NaN,13,9,...,3478,1314929,2,5531.0,99,45,27,7,50,25.0
2,3,NaN,379,2,2017-11-09 14:25:57,1,32323,NaN,13,9,...,9352,1314929,10,9331.0,111,60,30,21,50,7.0
3,3,NaN,379,3,2017-11-09 14:26:03,1,42887,NaN,17,9,...,3837,1314929,4,71400.0,106,51,20,20,50,22.0
4,58,NaN,120,4,2017-11-09 14:26:41,1,119289,NaN,30,9,...,180262,55888,147,NaN,156,182,35,230,7,697.0

In [15]:
test_supplement_df.drop('click_id', axis=1, inplace=True)

In [16]:
test_df = test_df.merge(test_supplement_df, on=['ip','app','device','os', 'channel', 'click_time'], how='left')

In [19]:
test_df.head()

,click_id,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,...,ip_device_count,app_channel_count,ip_day_hour_channel_count,nextClick,ip_channel_unique,ip_app_unique,ip_device_os_app_unique,ip_device_unique,app_channel_unique,window_count
0,0,5744,9,1,3,107,2017-11-10 04:00:00,NaN,NaN,10,...,1381,1528934,2,NaN,99,35,7,6,47,5.0
1,1,119901,9,1,3,466,2017-11-10 04:00:00,NaN,NaN,10,...,26876,3454232,8,399.0,132,86,23,35,47,62.0
2,2,72287,21,1,19,128,2017-11-10 04:00:00,NaN,NaN,10,...,18434,3358985,10,88.0,129,70,42,14,8,12.0
3,3,78477,15,1,13,111,2017-11-10 04:00:00,NaN,NaN,10,...,14951,781664,2,425.0,134,67,40,20,31,20.0
4,4,123080,12,1,13,328,2017-11-10 04:00:00,NaN,NaN,10,...,1834,2410253,2,1208.0,84,32,25,5,33,5.0

In [18]:
test_df = test_df.drop_duplicates(subset='click_id')

/home/yoshikawa/.pyenv/versions/3.6.4/lib/python3.6/site-packages/pandas/core/generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->floating,key->block4_values] [items->['attributed_time']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [ ]:
test_df.to_hdf("X_test_add_supplement.h5", 'table',
            complib='blosc', complevel=9)