In [1]:
import pandas as pd

In [2]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'click_id'      : 'uint32'
        }
test_df = pd.read_csv("../input/test.csv", dtype=dtypes, usecols=['ip','app','device','os', 'channel', 'click_time', 'click_id'])

In [3]:
sub_df = pd.read_csv('auc_0.991854909769542_it_432_lr_0.1_num_leaves_64.csv.gz')

In [6]:
dup_df = test_df[test_df.duplicated(subset=['ip','app','device','os', 'channel', 'click_time'],  keep='last')]

In [7]:
len(dup_df)

307719

In [8]:
dup_df.head()

     click_id     ip  app  device  os  channel           click_time
15         15  17149   14       1  49      480  2017-11-10 04:00:00
20         18  43655   12       1  15      178  2017-11-10 04:00:00
58         58  69649   25       1  10      259  2017-11-10 04:00:00
162       162  41399   25       1   8      259  2017-11-10 04:00:00
451       451  50069    8       1  25      145  2017-11-10 04:00:01

In [9]:
dup_id = dup_df.click_id.values

In [38]:
for i in dup_id:
    sub_df.at[i, 'is_attributed'] = 0

In [39]:
sub_df.at[sub_df.index[451], 'is_attributed']

0.0

In [40]:
sub_df.to_csv('first_dup_auc_0.991854909769542_it_432_lr_0.1_num_leaves_64.csv.gz', index=False, compression='gzip')